<div class="row index">
    <div class="large-7 large-centered columns">
        <div class="home">
            <img src="/dist/img/cookie.png" alt="cookies">
            <h1>thirdpartycooki.es</h1>
            <h3 class="subheader">An interactive guide to help your users enable 3rd party cookies for your domain.</h3>

            <div class="form row">
                <form>
                    <div class="large-8 columns">
                        <input class="collapse-bottom" type="text" name="domain" placeholder="yourdomain.com">
                    </div>
                    <div class="large-4 columns">
                        <input type="submit" class="button postfix collapse-bottom" value="Guide me!"/>
                    </div>
                </form>
                <p class="small">or see an <a href="/clef.io">example</a>.</p>
            </div>


            <div class="supported">
                <div class="row">
                    <div class="large-12 columns">
                        <h3>currently supporting</h3>
                    </div>
                </div>
                <div class="row">
                    <div class="large-2 columns">
                        <img src="/dist/img/chrome/logo-bw.png" alt="chrome logo">
                        <h4 class="text-center">30+</h4>
                    </div>
                    <div class="large-2 end columns">
                        <img src="/dist/img/firefox/logo-bw.png" alt="firefox logo">
                        <h4 class="text-center">29+</h4>
                    </div>
                    <div class="large-2 end columns">
                        <a href="http://github.com/jessepollak/thirdpartycookies" target="_blank">
                            <img src="/dist/img/plus.png" alt="plus">
                            <h4 class="text-center">add</h4>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <p class="credit">
            <a href="http://github.com/jessepollak/thirdpartycookies" target="_blank">contribute</a> | created by <a href="http://twitter.com/jessepollak" target="_blank">jesse pollak</a> for <a href="http://getclef.com" target="_blank">clef</a></p>
    </div>
</div>